<footer style="background-color:yellowgreen"  >
    <!-- Contract details-->
  
  
    <div class="row">
      <div class="col-sm-3">
        <h4 id="contact"></h4>
        <div>'Please contact us through this email'
          <a href="mailto: bangnagcs18748@fpt.edu.vn" style="color:green;">
                              <br>  <b>bangnagcs18748@fpt.edu.vn  </b>
                          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="map" style="margin-top : 10px; width:80%; height:80%;"> </div>
      </div>
      <div class="col-sm-3">
        <h4 id="about">'Address'</h4>
        <div>144 - 'Phạm Phú Thứ, Phường 4, Quận 6, Hồ Chí Minh'
        </div>
      </div>
      <div class="col-sm-3">
        <h4>'Visit us on facebook'</h4>
  
        <a href="https://www.facebook.com/nguyen.bang.921677/"> <img src = "images/facebook.png" alt = "map" sizes="50x50" /> </a>
        <img src="images/clickme.png" style="margin-top: -10px;" />
      </div>
    </div>
  
    <!-- Contract details-->
    <div class="clear"> </div>
    <!--CoppyRights-->
  
    <div id="coppyright">'Copyright 2020 - ATN-WEBISTE - All rights reserved'</div>
  
  </footer>